
<h2 class='page-title'>{{book.title}}</h2>

<div class='row'>

    <div class="col-md-6">
        <img src='{{book.cover|altvalue:book.isbn|prefix:"/assets/images/books/"}}' class='cover-image' />
    </div>
    
    <div class="col-md-6">
        <ul class='meta-list'>
            <li ca-rainbow-color >Author: {{book.author}}</li>
            <li ca-rainbow-color>Price: {{book.price}}</li>
            <li ca-rainbow-color>Rating: <ca-rating [value]='book.rating' ></ca-rating> {{book.rating}}</li>            
            <li>Our Recommendation: 
                <p ca-rainbow-color>{{book.rating|ratingadvise}}  </p>
            </li>
        </ul>
        <hr/>
        
        <div class='description'>
            
            {{book.description}}
        </div>
        <hr/>
        <div class='tags'>
            {{book.tags}}
        </div>

    </div>
    


   

</div>
