/* You can add global styles to this file, and also import other style files */

h1{
    font-size:1.5em;
}
p{
    color:maroon;
}

.footer{
    border-top: 1px solid gray;
    padding-top:5px;
    text-align: center;
}
